* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100%;
  height: 100vh;
  padding: 20px;
/*  background: linear-gradient(#CB356B, #BD3F32) fixed;*/
  background: rgba(116, 226, 203, 1.0) fixed;
  background: -webkit-linear-gradient(top right, rgba(116, 226, 203, 1.0), rgba(93, 171, 255, 1.0)) fixed;
  background: -moz-linear-gradient(top right, rgba(116, 226, 203, 1.0), rgba(93, 171, 255, 1.0)) fixed;
  background: linear-gradient(to bottom left, rgba(116, 226, 203, 1.0), rgba(93, 171, 255, 1.0)) fixed;
  font-family: 'Ubuntu', sans-serif;
}

ul{
  list-style-type: none;
  color: red;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo{
  width: 364px;
  height: 152px;
}

h1{
  font-size: 20px;
}

.app {
  background: #fff;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.35), 0 0px 0px 0 rgba(0,0,0,.12), 0 0px 0px 0px rgba(0,0,0,.3);
  border-radius: 15px;
}

.app__header {
  padding: 5px;
  font-size: 12px;
  text-align: center;
  color: #0093dd;
}

.app__content {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.app__footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
}

.input label {
  display: inline-block;
  max-width: 100%;
  color: #acacac;
  font-family: GothamPro,sans-serif;
  font-size: .8rem;
  font-weight: normal;
  line-height: 1.2rem;
}

.hide {
  display: none!important;
}

.btn {
  position: absolute;
  z-index: 1;
  display: inline-block;
  padding: 1rem 2.3rem;
  margin-bottom: 0;
  font-weight: normal;
  font-family: GothamPro, sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background: #fad64e;
  color: #3f3f3f;
  border: none;
  border-radius: 2.8rem;
  transition: transform .2s ease-in-out,box-shadow .2s ease-in-out,-webkit-transform .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
  will-change: transform;
}

.btn:disabled {
  background: #ccc!important;
  border: 1px solid #ccc;
  color: #000;
  cursor: not-allowed;
}

.btn:active {
  transition: transform .1s ease-in-out,box-shadow .1s ease-in-out!important;
  transform: none!important;
  box-shadow: none!important;
}

.btn:hover {
  box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
  transform: translateY(-1px);
}

.field{
  width: 100%;
  margin-top: 10px;
  border-radius: 15px;
  border: 1px solid #999;
  max-height: 2.8rem;
  padding: .8rem 1rem;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4;
  color: #000;
  background: #fff none;
  overflow: hidden;
}

#size {
  max-height: 2.8rem;
  padding: 0.8rem 1rem;
  font-size: 15px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4;
  color: #000;
  background: #fff none;
  border: 1px solid #999;
  border-radius: 15px;
}

#submit{
  margin-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background: rgba(147,206,222,1);
  background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
  background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
  border: none;
  border-radius: 15px;
  max-height: 2.8rem;
  padding: .8rem 1rem;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.4;
}

.btn_copy{
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background: rgba(147,206,222,1);
  background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
  background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
  border: none;
  border-radius: 15px;
  max-height: 2.8rem;
  padding: .8rem 1rem;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.4;
}

#total_price{
  display: block;
  margin: 10px 0px;
  color: red;
  font-weight: bold;
}

.success{
  color: #3bbe06;
  font-size: 16px;
  font-weight: 500;
  list-style-type: none;
}

.wallet{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet > p{
  font-size: 18px;
  color: black;
}

.shortlink__inner{
  display: flex;
  justify-content: space-between;
}
@media (max-width: 390px){
  .logo{
  width: 182px;
  height: 76px;
}
}